#Gallery {
    width: 800px;
    margin: 20px auto;
}
#Gallery h1 {
    text-align: center;
    color: hsl(201, 63%, 26%);
    margin-bottom: 0;
    margin: 30px auto;
}
#Gallery__grid-main,
#Gallery__grid-miechow {
    display: grid;
    margin: 20px auto 40px;
    gap: 2%;
}
#Gallery__grid-main {
    height: 1000px;
    grid-template: repeat(6, 15%) / repeat(8, 10%);
}
#Gallery__grid-miechow {
    height: 500px;
    grid-template: repeat(3, 30%) / repeat(8, 10%);
}

#Gallery__grid-main img,
#Gallery__grid-bibice img,
#Gallery__grid-miechow img {
    width: 100%;
    height: 100%;
    border: 2px solid hsl(120, 100%, 15%);
    border-radius: 5px;
    object-fit: cover;
    grid-column-end: span 2;
    cursor: pointer;
}

/* #Gallery__grid-main img[data-number="9"] {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: span 2;
    grid-row-end: 3;
}
#Gallery__grid-main img[data-number="10"] {
    grid-column-start: 5;
    grid-row-start: 3;
    grid-column-end: span 2;
    grid-row-end: 3;
}
#Gallery__grid-miechow img[data-number="19"] {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: span 2;
    grid-row-end: 3;
}
#Gallery__grid-miechow img[data-number="20"] {
    grid-column-start: 5;
    grid-row-start: 3;
    grid-column-end: span 2;
    grid-row-end: 3;
}
 */

/* Slider */
#Gallery__slider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: hsl(0, 0%, 0%, 0.7);
    width: 100%;
    height: 100%;
    /* display: flex; <-it's already declared in JS */
    justify-content: center;
    align-items: center
}
#Gallery__slider img {
    max-width: 50%;
    max-height: 98%;
}
#Gallery__slider .arrow {
    max-width: 150px;
    margin: 20px;
    position: relative;
    z-index: 7;
}
#Gallery__slider .left {
    transform: rotate(90deg);
}
#Gallery__slider .right {
    transform: rotate(-90deg);
}

@media(max-width: 1450px) {
    #Gallery {
        width: 600px;
    }
}
@media(max-width: 1450px) {
    #Gallery {
        margin: 20px 0 20px 340px;
    }
}
@media(max-width: 1250px) {

    #Gallery__slider img {
        max-width: 70%;
    }
    #Gallery__slider .arrow {
        width: 110px;
        margin: 10px;
    }
}

@media(max-width: 1000px) {
    #Gallery__slider img {
        max-height: 96%;
    }
    #Gallery__slider .arrow {
        width: 110px;
    }
    #Gallery {
        margin: 20px auto;
    }
}

@media(max-width: 800px) {
    #Gallery__slider .arrow {
        width: 80px;
    }
}
@media(max-width: 650px) {
    #Gallery {
        width: 95%;
    }
    #Gallery__grid-main,
    #Gallery__grid-miechow {
        /* height: 50%; */
    }
}
@media(max-width: 600px) {
    #Gallery__slider img {
        max-width: 70%;
    }
    #Gallery__slider .arrow {
        width: 60px;
        margin: 0;
    }
}

@media(max-width: 400px) {
    #Gallery__grid-main {
        height: 1600px;
        grid-template: repeat(11, 8.8%) / repeat(4, 23.3%);
        gap: 0.3% 2%;
    }
    #Gallery__grid-miechow {
        height: 800px;
        grid-template: repeat(5, 17.5%) / repeat(4, 23.3%);
        gap: 1% 2%;
    }
    /* #Gallery__grid-main img[data-number="9"] {
        grid-column-start: 1;
        grid-row-start: 5;
        grid-column-end: span 2;
        grid-row-end: 5;
    }
    #Gallery__grid-main img[data-number="10"] {
        grid-column-start: 3;
        grid-row-start: 5;
        grid-column-end: span 2;
        grid-row-end: 5;
    }
    #Gallery__grid-miechow img[data-number="19"] {
        grid-column-start: 1;
        grid-row-start: 5;
        grid-column-end: span 2;
        grid-row-end: 5;
    }
    #Gallery__grid-miechow img[data-number="20"] {
        grid-column-start: 3;
        grid-row-start: 5;
        grid-column-end: span 2;
        grid-row-end: 5;
    }
    #Gallery__grid-bibice img[data-number="25"] {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-column-end: span 2;
        grid-row-end: 3;
    }
    #Gallery__grid-bibice img[data-number="26"] {
        grid-column-start: 3;
        grid-row-start: 3;
        grid-column-end: span 2;
        grid-row-end: 3;
    }
    #Gallery__grid-bibice img[data-number="27"] {
        grid-column-start: 2;
        grid-row-start: 4;
        grid-column-end: span 2;
        grid-row-end: 4;
    } */
    #Gallery__slider img {
        max-width: 75%;
    }
    #Gallery__slider .arrow {
        width: 40px;
    }
}