.Offer {
    width: 800px;
    margin: 0 auto;
}
.Offer h1 {
    color: hsl(201, 63%, 28%);
    text-align: center;
}
/* Below there must be double selection - otherwise the text-align is overwritten by 
    .Offer p {
        text-align: justify;
    }
*/
.Offer .Offer__title {
    font-size: 20px;
    text-align: center;
}
.Offer__group-title {
    font-size: 21px;
    color: hsl(201, 63%, 28%);
    font-weight: 1000;
}
.Offer ul li{
    padding-top: 6px;
}
.Offer p {
    text-align: justify;
}
