.Prices {
    width: 800px;
    margin: 0 auto;
}
.Prices table {
    margin: 0 auto;
    width: 570px;
    margin-top: 5px;
}
.Prices table tr:nth-child(odd) {
    background-color: hsl(74, 80%, 25%);
}
.Prices table tr:nth-child(even) {
    background-color: hsl(201, 63%, 28%);
}
.Prices td[colspan="3"] {
    text-align: center;
    color: hsl(201, 63%, 24%);
    background-color: hsl(74, 80%, 36%);
    padding-left: 25px;
    font-size: 23px;
    font-weight: bold;
}
.Prices tr :nth-child(1),
.Prices tr :nth-child(2) {
    padding-right: 25px;
}
.Prices tr :nth-child(3),
.Prices tr :nth-child(2) {
    text-align: right;
}
@media(max-width: 1360px) {
    .Prices {
        margin-left: 250px;
    }
}
@media(max-width: 1000px) {
    .Prices {
        margin: 0 auto;    
        width: 570px;
    }
}
@media(max-width: 610px) {
    .Prices,
    .Prices table {
        width: 470px;
    }
    .Prices td[colspan="3"] {
        width: 100%;
        padding: 0;
    }
    .Prices tr :nth-child(1),
    .Prices tr :nth-child(2) {
        padding-right: 0;
    }
}
@media(max-width: 500px) {
    .Prices,
    .Prices table {
        width: 410px;
    }
    .Prices tr :nth-child(1) {
        width: 200px;
    }
    .Prices tr :nth-child(2),
    .Prices tr :nth-child(3) {
        text-align: center;
    }
}
@media(max-width: 440px) {
    .Prices,
    .Prices table {
        width: 280px;
    }
    .Prices tr :nth-child(1) {
        width: 150px;
    }
}