.Footer {
    background-color: hsl(201, 63%, 46%);
    height: 24px;
    line-height: 24px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    font-family: calibri;
    font-size: 15px;
}
.Footer::before {
    content: 'Copyright © 2023 ODNOWA Aneta Kubik';
    padding-left: 6px;
}
.Footer::after {
    content: 'Realizacja ARDEO Grzegorz Muszyński';
    float: right;
    padding-right: 6px;
}

@media(max-width: 540px) {
    .Footer {
        position: relative;
        /* top: 24px; */
        top: 31px;
        height: 48px;
    }
    .Footer::after,
    .Footer::before {
        display: block;
        /* padding-left: 0; */
        padding: 0;
        width: 100%;
        text-align: center;
    }
}