@font-face {
    font-family: cinzel;
    src: url(../assets/cinzel.regular.ttf);
}

* {
    /* border: 1px solid red; */
}
.Menu {
    font-family: cinzel;
    font-weight: 600;
    /* font-family: prata; */
    /* font-weight: 300; */
    font-size: 22px;
    width: 300px;
    /* background-color: black; */
    /* background-color: hsl(201, 63%, 46%); */
    background-color: hsl(74, 80%, 31%);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 10px black;
    border-left: none;

    position: fixed;
    top: 500px;
    z-index: 2;
    display: inline-block;
}
.Menu ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}
.Menu li {
    text-align: center;
    padding: 10px 0;
}
.Menu li a {
    text-decoration: none;
    color: white;
    padding: 2px 8px;
}
.Menu li a:hover {
    background-color: hsl(201, 63%, 46%);
    transition: 0.5s background-color;
    border-radius: 10px;
}
.Menu .active {
    color: hsl(201, 63%, 26%);
    font-size: 23px;
    /* font-weight: bold; */
    font-weight: 1000;
}