@font-face {
    font-family: prata;
    src: url(./assets/fonts/Prata-Regular.ttf);
}
#root {
    background-color: hsl(74, 80%, 36%);
}
#App {
    position: relative;
    min-height: 100vh;
    padding-bottom: 30px; /* the place for the Footer */
}
* div {
    font-family: cinzel;
    color: white;
}
span {
    font-family: cinzel-medium;
    font-weight: 1000;
    color: hsl(201, 63%, 24%);
}